[2017-05-26 00:00] zadjii-msft opened #1 "Console windows launched from start menu don't have app's icon"
Case in point:

![image](https://cloud.githubusercontent.com/assets/18356694/26475267/914b603c-416b-11e7-8704-bdda9c3260d8.png)

This is a bug with conhost.exe. I'm looking into it.

[2017-05-26 19:53] zadjii-msft opened #2 "Vi/Vim doesn't work"
This is Microsoft/BashOnWindows#2092.

It's not a problem with your distro. I'll close this once that bug fix hits insiders.

[2017-05-26 20:19] zadjii-msft opened #3 "Pressing the "Launch" button on the sideloading dialog doesn't work"
I'm assuming this is the same problem that launching from the Store page also has.

[2017-05-26 20:21] zadjii-msft opened #4 "Error: 0x80070002 - Uninstalling without clean"
This is detailed further [here](https://github.com/Microsoft/WSL-DistroLauncher/wiki/Common-Error-Codes#error-0x80070002---file-not-found).

[2017-05-26 20:45] bitcrazed opened #5 "Update OS versions in manifest"
We should probably update the OS versions in the manifest to better reflect min & max-tested OS versions:

https://github.com/Microsoft/WSL-DistroLauncher/blob/master/MyDistro.appxmanifest#L22

[2017-05-26 21:02] #5 closed, assigned to zadjii-msft

[2017-06-27 15:19] xnox opened #6 "StoreLogo is expected as 100x100 yet AssetsValidator demands 50x50"
Uploading the .appx into the developer dashboard fails validation requesting store logo asset to be 50x50 png.

However, when sideloading / double clicking the self-signed appx, the image in use is clearly 100x100 png.

Building a valid package with 50x50 png logo, results in ugly sideloading. See image attached. Please update the store to accept 100x100 png StoreLogos, or please update the Sidelo

[2017-06-28 21:05] bitcrazed opened #7 "Consider adding $WINHOME env-var"
User has a good ask: Could WSL distro's come preconfigured with the $WINHOME environment variable set to the current users' Windows Home folder (e.g. /mnt/c/users/rich).

Consider for future releases.

[2017-06-28 21:08] #2 closed, assigned to nobody

[2017-07-11 23:07] bitcrazed opened #9 "MinVersion set too-early, resulting in 0x8007007e when running Ubuntu for WSL"
See  #https://github.com/Microsoft/BashOnWindows/issues/2316.

The `MinVersion` value in the Manifest's `TargetDeviceFamily` element specifies an OS build prior to the WSL Win32 API's availability in the OS.

The element should be modified to match the following values:

[code]

[2017-07-11 23:11] #9 closed, assigned to zadjii-msft

[2017-07-12 21:09] zadjii-msft opened #11 "Launchers should print a message when the WSL optional component isn't available."
From @benhillis:

[2017-07-13 21:35] zadjii-msft opened #13 "WSL installer claims success even on failure"
MSFT:12254696

  1. Install distro (sideload or store, whatever)
  2. Register distro.
  3. Delete Distro's registration from lxss key (Computer\HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Lxss)
  4. Launch distro

Installing, this may take a few minutes...
Installation successful!
Please create a default UNIX user account. The username does not need to match your Windows username.

[2017-07-17 17:16] #11 closed, assigned to zadjii-msft

[2017-07-17 17:18] #13 closed, assigned to nobody

[2017-10-05 18:29] bitcrazed opened #15 "WSL Launcher tries to run on Win10S"
WSL can be enabled and distros installed on Windows 10S. However, distros cannot RUN on Win10S.

When one tries to run a distro, the following error is returned:
![image](https://user-images.githubusercontent.com/961950/31245666-ea052480-a9bf-11e7-872e-9dea945e3aee.png)

[Error code 0x80073d07 is "ERROR_SYSTEM_NEEDS_REMEDIATION"](https://msdn.microsoft.com/en-us/library/windows/desktop/hh973484(v=

[2017-10-20 22:37] zobelhelas opened #16 "Please clarify DistroName in "Getting Started" documentation"
In the "Getting Started" Section the Distro name is note 100% clear to me what you mean. You write:

Either my DistroName is e.g. "Debian GNU/Linux" without a version, or it would be "Debian GNU/Linux 9 (Codename Stretch)". Your example includes a version in the DistroName which you say above shall not change.

[2018-03-16 22:00] rhaist opened #20 "Automatically enable WSL on first install"
After reading some of the comments received for the Debian store app, I think it would benefit our users greatly to not have to follow the manual enablement mechanism for fist users of wsl.

Could we integrate a check in the launcher to see if the wsl optional windows feature has been enabled already, and if not, to show a user friendly pop-up?

This would lower the barrier for non-technical users

[2018-03-21 15:54] #16 closed, assigned to nobody

[2018-03-21 15:54] #15 closed, assigned to bitcrazed

[2018-03-21 15:55] #6 closed, assigned to nobody

[2018-03-21 15:55] #4 closed, assigned to nobody

[2018-03-21 15:55] #1 closed, assigned to zadjii-msft

[2018-03-21 15:55] #3 closed, assigned to nobody

[2018-03-21 15:56] #7 closed, assigned to bitcrazed

[2018-03-26 20:26] julianxhokaxhiu commented on #20
But still a suggestion or a link to an how-to would be highly appreciated. Or find a way to enable the flag and then ask for explicit reboot.

I second the idea to lower down the barrier. Would make WSL definitely a game changer.

[2018-03-26 20:48] benhillis commented on #20
@julianxhokaxhiu - There is already a link that is displayed:
https://github.com/Microsoft/WSL-DistroLauncher/blob/e9a4504514223b27624eedaf4fdc8708cfdbaecd/DistroLauncher/messages.mc#L79

[2018-03-26 22:06] levrik commented on #20
@benhillis Sure that this one works? There are many complains in the Microsoft Store about an unknown error and I also remember that I got that when I first set it up.

[2018-03-26 22:07] benhillis commented on #20
@levrik - if it doesn't work for you let me know and I can investigate. That's how I enable the subsystem on my test machines.

[2018-03-27 02:55] Thaodan opened #24 "Set Downstream information in seperate header"
If this is seen as base for a wsl distro, wouldn't it be better to use a seperate header for the distro information and a shel script for the install distro part to be used?
I think this would avoid editing upstream code and make integration easier.

[2018-03-27 05:52] Thaodan commented on #24
I'm not running a windows environment, Is there a way to get a vm or windows container to do this?

[2018-03-27 11:17] aps120797 opened #25 "Allow other Linux Destros to take place of bash"
I am not sure if this issue needs to be opened here or at [Microsoft/vscode](https://github.com/Microsoft/vscode).
But, it appears that currently, WSL prefers Ubuntu only to be it's primary WSL Bash terminal. (I already have [Ubuntu ](https://www.microsoft.com/en-in/store/p/ubuntu/9nblggh4msv6), [openSUSE Leap 42](https://www.microsoft.com/en-in/store/p/opensuse-leap-42/9njvjts82tjx), [Debian GNU/

[2018-03-27 12:56] Biswa96 commented on #25
Try to change the default distribution with `wslconfig /s <distro_name>` command. Also you can change the executable name in settings manually.

[2018-03-27 13:02] rhaist commented on #24
@Thaodan I used https://developer.microsoft.com/en-us/windows/downloads/virtual-machines

[2018-03-27 15:04] aps120797 commented on #25
Thanks. It worked! 😄

[2018-03-27 15:04] #25 closed

[2018-03-27 15:16] Biswa96 commented on #24
@Thaodan You may try this https://developer.microsoft.com/en-us/microsoft-edge/tools/vms/

What do you mean by "seperate header for distribution information"? Distro owner also has to change the manifest file and launcher name to make appx.

[2018-03-27 18:49] levrik commented on #20
@benhillis No. Enabling the subsystem and installing everything works perfect. But this error message doesn't seem to work if the subsystem is still disabled. It shows some cryptic error instead. At least when I set it up for the first time and there are also a few complains on the Microsoft Store about this error.

[2018-03-27 21:19] benhillis commented on #20
@levrik - This errors on the Microsoft Store are from a previous version of this sample that did not have proper error checking.

[2018-03-28 01:01] oiaohm opened #27 "Provide a generic distribution Lancher/installer with Windows."
The reality idea here has main fails.

1) Linux distribution build servers not run Windows.  So don't run MSVC compiler.   The compilers had to choose between was llvm clang with windows support or mingw both you will find on Linux.

2) there are hundreds of Linux Distributions you don't want each one installing there own exes if you can avoid it.

3) security issues.   WSL does not contain lets c

[2018-03-28 07:07] MikeGitb commented on #27
The launcher is a windows program, so I don't know why you expect it to be anything than a windows.exe.

But I very much like the Idea of having a GUI to manage the different distributions.

[2018-03-28 13:54] DarthSpock commented on #27
The Microsoft Store has it's own security mechanisms in place which is utilized by WSL when installing distros and is why we can currently only install to system drives. The updates you receive for any app in the Store should be cert-based encryption though it would be nice if Microsoft was a bit more transparent about what security the Windows Store provides.

[Project Honolulu](https://docs.micr

[2018-03-28 14:13] DarthSpock commented on #27
WSL doesn't support enterprise scenarios at this time and this will need to be run on a Windows machine therefore adopting the free VM Microsoft provides for this purpose would be a better idea. I rather use a Microsoft compiler on a Microsoft system as that will be more integrated into the OS. Would it be nice to run other compilers? Sure but still leave the default as MSVC.

WSL is agnostic and

[2018-03-28 14:37] sjenning opened #29 "error APPX0107: The certificate specified is not valid for signing"
There once was a pkg.bat that handled the creation of the signing key.  I can't find anything about cert generation in the in README.

Output of `build`:
[code]

This is just after cloning the repo and putting in an `install.tar.gz`, without changing any of the MyDistro placeholders.

[2018-03-28 15:39] kirkone commented on #29
Hi,

the problem is that the file `DistroLauncher-Appx_TemporaryKey.pfx` is not part of this repo.
You can fix this by creating your own .pfx as shown here: [Create a certificate for package signing](https://docs.microsoft.com/en-us/windows/uwp/packaging/create-certificate-package-signing)

Or the easy way:
create a new solution in Visual Studio from "Windows Universal App" and than copy and renam

[2018-03-28 15:47] benhillis commented on #29
Good call, I'll update the documentation.  In the meantime here's how to generate a test certificate:

Open MyDistro.appx, select the Packaging tab, select Choose Certificate, click the Configure Certificate drop down and select Create test certificate.

[2018-03-28 15:53] kirkone commented on #29
@benhillis That is much easier 😄

[2018-03-28 16:01] benhillis commented on #27
@oiaohm - Fair points, and we appreciate the feedback. I agree that a design where distributions do not need to write any Windows code would be ideal.  It's something we've talked about internally but would need support from other Windows components (primarily the Microsoft Store).

[2018-03-28 16:07] sjenning commented on #29
Thanks! I'll give this a try this evening and close if I succeed.

[2018-03-28 16:07] #29 closed

[2018-03-28 16:08] benhillis commented on #29
@sjenning - Sounds good, thanks for the feedback.

[2018-03-28 19:13] levrik commented on #20
@benhillis ah, okay. good to know. then there should be no issue with that message 🙂

[2018-03-29 08:49] oiaohm commented on #27
https://docs.microsoft.com/en-us/windows/wsl/wsl-config

DarthSpock there is a issue here.   wsl.exe only allows you to execute on currently set default distribution when you are installing you don't want to change a users default distribution.

maybe add  to wsl.exe .   wsl.exe -d [distribution] so that you can execute a command on distribution that is not default.

https://msdn.microsoft.com/en-

[2018-03-29 08:55] cpus133525 commented on #20
However, according to my observation, some people just do as follows:
1. Install a Linux "app" from the Store without reading any attention message (Yes, just clicking the download button and waiting for it completed).
2. Open the Linux "app" and find the error message.
3. Uninstall the Linux "app" and rate it 1 star in the store.
4. Tell others not to use the Linux "apps" from the store because h

[2018-03-29 09:15] piranna opened #32 "Generate on Linux"
Provide instructions to allow to generate the distro .tar.gz file from a Linux host machine.

[2018-03-29 09:28] Biswa96 commented on #32
That somehow depends on the Linux distributions you want to install. For example, here is the shell script to make Kali Linux .tar.gz file: https://github.com/offensive-security/Kali-WSL-chroot/blob/master/build_chroot.sh

[2018-03-29 11:35] piranna commented on #32
Cool! :-D Yes, I was looking for something similar to automate creation of [NodeOS](http://node-os.com/) images :-)

[2018-03-29 13:03] Biswa96 commented on #32
I think we should discuss this on your repository.

[2018-03-29 14:13] DarthSpock commented on #27
I think Microsoft is going to require Linux distros publish to the Store until they open-source Windows itself which may never happen. It's possible if just the WSL portion is open-sourced, it could work but then you've got all this documentation such as NDAs since you will see proprietary code that deals with Windows itself.

Based on the guide for making a distro available using the launcher, I

[2018-03-30 15:53] benhillis commented on #32
The tar.bz can be generated in a variety of ways.  Many distributions will already generate one as part of their docker / cloud targeted SKUs. The only limitation is that it must contain the root file system in a top level directory.  I'll add some instructions to the readme, but for example you could tar up an existing Linux install by using:

`sudo /bin/bash -c "cd / ; tar -cpzf /install.tar.gz

[2018-03-30 21:47] oiaohm commented on #32
Really this is big question.  Since tar.gz are needed for docker images and other things.   Why not have a generic installer and why not be able to use those images with maybe a few extra files.

This would allow distributions to save on resources.

[2018-03-30 22:20] oiaohm commented on #27
There are two common causes of conflicts  in debian/ubuntu/deb based distributions.   1 is third party repositories like PPA at times the other is mainline deprecated package.

 I run Linux distributions without third party repositories a lot.
You see the following message on deb based distributions
The following packages have been kept back:
This message appears with or without PPA/third part rep

[2018-03-31 01:17] gbraad commented on #32
It depends on the distro how to make this, for Fedora we used:
https://gitlab.com/gbraad/fedora-wsl
Note: however, taking a docker image as root filesystem will also usually
work.

[2018-04-04 14:42] rhaist commented on #32
You can have a look at the file I used for Debian WSL here:

https://salsa.debian.org/rhaist-guest/WSL/blob/master/create-targz.sh

[2018-04-05 13:41] catafest opened #37 "Bad error or bug build - install.tar.gz"
I don't understend  if this is a bug or bad build ?
I just use **build.bat** and I gat this error :
[code]
also the PS
[code]

[2018-04-05 13:46] offensive-security commented on #37
Do you have your tarred up Linux chroot, named "install.tar.gz" inside your build folder?

[2018-04-05 15:45] benhillis commented on #37
An install.tar.gz is not included in the repro. I agree the instructions could be a bit more clear about how to generate one, I'll get that resolved.

[2018-04-29 00:02] agowa338 opened #40 "Publishing to store"
How do I get the necessary rights to publish a WSL app?
If I upload it, I just get the following Error message:
[code]
If I follow the link, I get
[code]

Can you please include necessary steps on the Wiki Page "Notes for uploading to the Store"?
Also a note that registration to "Desktop Bridge" is required would have been nice.
Link: https://developer.microsoft.com/en-us/windows/projects/campaign

[2018-04-30 20:03] Biswa96 commented on #40
You've to register a name for your Appx package in Windows Store and 19$ to register with MS account. Also edit the AppxManifest.xml file. You also need permission of that GNU/Linux distribution owner.

[2018-05-01 14:49] DarthSpock commented on #40
I do believe that Linux distro maintainers will get a free account. At least that was my understanding. Whether that's through re-imbursement or some other method, I'm not entirely sure. @tara-raj or @bitcrazed should be address this more thoroughly. Alternatively @rhaist and @offensive-security have already gone through the process and should be able to provide some pointers.

[2018-05-01 14:57] DarthSpock commented on #40
Oh and also at the bottom of the repo page:

[2018-05-01 22:16] tara-raj commented on #40
Yes, please reach out to the email @DarthSpock listed above. You need special permissions to submit this type of app to the Store which requires approval by a product group member (aka me).

[2018-05-03 14:49] agowa338 commented on #40
A few seconds ago I sent an E-Mail to your team. Still I would appreciate a publicly available documentation of the whole workflow, so that even unexperienced/new Store publishers know how to get there stuff in and what time they have to expect.

[2018-05-03 19:57] tara-raj opened #41 "Update the README with Store submission process details"
Related to - https://github.com/Microsoft/WSL-DistroLauncher/issues/40

[2018-05-03 19:58] tara-raj commented on #40
Created a new issue to update the documentation - https://github.com/Microsoft/WSL-DistroLauncher/issues/41

[2018-05-03 20:01] bitcrazed commented on #41
Thanks :) On it!

[2018-05-03 21:01] bitcrazed commented on #41
PR ready for review when someone's got a few mins :) https://github.com/Microsoft/WSL-DistroLauncher/pull/42

[2018-05-03 21:54] #41 closed

[2018-05-03 21:55] #40 closed

[2018-05-14 11:29] 0xbadfca11 opened #44 "Could not display system error message when non-English system locale."
![image](https://user-images.githubusercontent.com/7390559/39992645-79af7b2a-57ae-11e8-94a2-e94d5ebd6076.png)
Forced call ``Helpers::PrintErrorMessage(NO_ERROR);``.

Wide character I/O function may not work when C locale.
Typically add call ``setlocale(LC_CTYPE, "")`` once resolves problem.

But Windows 10 version 1803 has "Use Unicode UTF-8 for worldwide language support" setting.
MSVC's C runtim

[2018-05-14 13:44] Biswa96 commented on #44
`wsl.exe` has these:
[code]

[2018-05-31 22:14] bryteise opened #45 "build.bat not generating appx"
I'm very likely doing something wrong but I'm doing the build with msbuild via the build.bat script and where the instructions expect there to be a DistroLauncher-Appx_1.0.0.0_x64.appx type file I am not seeing one.

The build did not run into any errors and I do have a distname.exe file that was generated but without the appx I'm not sure what to do next.

[2018-06-14 18:59] bryteise commented on #45
Ah so the location for the appx was actually not in the documented location of: WSL-DistroLauncher\x64\Release\DistroLauncher-Appx but instead under WSL-DistroLauncher\AppPackages\DistroLauncher-Appx. Sorry for the noise though should the location be updated or did my build put it in an odd spot?

[2018-07-25 17:05] AwesomeTech10 opened #47 "build.bat Failing"
I designed my launcher exactly as the instructions say, and run build.bat. Build.bat gets a Windows SmartScreen error, which I had to fix. When i got Build.bat to run, it went smoothly until this: "C:\Users\TrTha\Downloads\WSL-DistroLauncher-master\WSL-DistroLauncher-master\
       DistroLauncher.sln" (Build target) (1) ->
       "C:\Users\\Downloads\WSL-DistroLauncher-master\WSL-DistroLauncher-ma

[2018-08-08 14:34] DarthSpock commented on #47
I think your issue is the same as #45.

[2018-11-06 22:07] jeffmal commented on #47
In step 5 under Getting Started, changing the TargetName instead of ProjectName worked for me.

[2018-11-30 15:42] bbrala opened #53 "What Ubuntu rootfs to use?"
I really want to build my own package for development. But i can't figure out what rootfs is used. Is the code to generate the correct rootfs somewhere? I tried using the ubuntu cloudimg rootfs's which are hosted [on canonical.com](https://partner-images.canonical.com/core/xenial/current/) but that doesn't work :(

Anyone have any idea?

[2018-11-30 15:59] rhaist commented on #53
Hey @bbrala - just build a rootfs with debootstrap or cdebootstrap.

You can have a look at my script:
https://salsa.debian.org/rhaist-guest/WSL/blob/master/create-targz.sh

[2018-11-30 16:04] bbrala commented on #53
Yeah i kinda tried that but with multistrap. But from what i seem to gather something like the following should work fine.

https://cloud-images.ubuntu.com/xenial/current/xenial-server-cloudimg-amd64-root.tar.gz

So perhaps it is my build which is not correct... When i run the built exe it just opens and closes at once.  I did your project and had a look at it to see if there is something i was do

[2018-11-30 16:21] bbrala commented on #53
Ok, appearantly i had to build in VS with Project -> Store -> Create App packages and select sideload. This seems to work fine. Next i will just `chroot` in the filesystem and start adding the packages i need, think this will work out yay :)

[2018-11-30 16:21] #53 closed

[2018-12-06 23:37] khuevu opened #54 "Package.StoreAssociation.xml can't be generated"
Hi,
When I tried to build the project using build.bat, I got the error:
`Could not find file ... DistroLauncher-Appx\Package.StoreAssociation.xml`.

I tried to create one by selecting Store > Associate App with the Store .. but then it gave me this error:

"Unable to associate your App with the Window Store because the app manifest is invalid. Correct the errors in the app manifest.".

I am runnin

[2018-12-06 23:38] benhillis commented on #54
Have you checked the errors in the app manifest?

[2018-12-06 23:43] khuevu commented on #54
@benhillis : Yes, it says this line not valid: https://github.com/Microsoft/WSL-DistroLauncher/blob/master/DistroLauncher-Appx/MyDistro.appxmanifest#L14
because no Capability element in rescap namespace. I tried to change it to something valid like `<Capability Name="internetClient" /> as in https://docs.microsoft.com/en-us/uwp/schemas/appxpackage/how-to-specify-capabilities-in-a-package-manifest

[2018-12-06 23:43] benhillis commented on #54
Interesting, I did not see that locally. I will give this a try.

[2018-12-09 18:39] khuevu commented on #54
@benhillis it turns out that the error was because Visual Studio's C++ plugin for window universal app weren't installed for me. After installing it, I can see the wizard for associate the store but I encounter another unhelpful error: "An unexpected error occurred when attempting to reserve the app name". I have tried many different names including random names . I can't tell much from the error.

[2018-12-18 20:44] khuevu commented on #54
I think it was because of the way I generated the cert. I tried generating the test cert manually instead of using Visual Studio utility. Will close this now. I only wish that the error message had been more informative.

[2018-12-18 20:44] #54 closed

[2019-01-11 12:17] bbrala commented on #53
I ended up using docker to build the root fs and exporting it for use in our custom built distribution for developemnt.

[2019-02-27 16:43] pcolmer opened #56 "README confusion"
Step 5 under "Getting Started" says:

[code]

Those above instructions (a) say to change ProjectName then (b) say not to change it.

Also, the file as provided in the git repo doesn't mention "launcher" in either TargetName or ProjectName, so it isn't clear what the warning refers to.

Under "Build and Test", the instructions say:

[code]

However, when I do that, I get this error:

[code]

Under

[2019-03-07 07:15] marler8997 opened #57 "Stuck adding my distro to WSL, don't know how to debug or where to find logs"
I'm trying to get my custom linux distro to run in WSL.  I'm able to register it but cannot run anything in it.  From what I've learned from experimentation and looking at some launcher code, when you call `WslRegisterDistribution`, WSL seems to determines the "distro folder" based on the path where the running executable is stored, then takes the rootfs file given as the second argument and extra

[2019-03-07 07:39] Biswa96 commented on #57
Could you provide a tar.gz file link of your distro?

[2019-03-07 07:44] marler8997 commented on #57
Sure: https://github.com/marler8997/maros/releases/tag/ForTest

[2019-03-07 10:09] Biswa96 commented on #57
Try this:
1. Make `passwd` file with `touch /etc/passwd`.
2. Add this line `root:x:0:0:root:/:/bin/msh` in that file.
3. Move `/sbin/msh` (your shell) to `/bin/msh`. Or you can make a symbolic link but it may be complex to do.
4. Pack in `tar.gz` file only.

HTH :)

[2019-03-07 16:41] marler8997 commented on #57
Thanks for the help! Are these requirements documented somewhere?

[2019-03-07 16:48] marler8997 commented on #57
That did the trick! I'm now able to launch my distro with `wsl -d mydistro`.

[2019-03-07 16:48] #57 closed

[2019-06-24 02:16] guanzi008 opened #59 "生产appx文件失败"
正在移除目录“x64\Debug\DistroLauncher-Appx_1.0.3.0_Bundle\”。
         正在创建目录“x64\Debug\DistroLauncher-Appx_1.0.3.0_Bundle”。
         创建硬链接以将“D:\wsl\WSL-DistroLauncher-master\x64\Debug\DistroLauncher-Appx\DistroLauncher-Appx_1.0.3.0_x64_Debug.msix”复制到“x64\Debug\DistroLauncher-Appx_1.0.3.0_
         Bundle\DistroLauncher-Appx_1.0.3.0_x64_Debug.msix”。
         Adding file 'x64\Debug\DistroLauncher-Appx_1.0

[2019-08-07 14:27] KsRyY commented on #59
你有安装对应版本的Win10SDK吗？

[2019-08-07 16:40] guanzi008 commented on #59
我已经解决了，就是SDK问题，代码里有一个SDK版本没有修改，(我修改需要文本打开那个文件修改。成最新的就编译成功了。)然而我用的最新的SDK没有安装指定的SDK版本。

---原始邮件---
发件人: "Andy Chen"<notifications@github.com>
发送时间: 2019年8月7日(星期三) 晚上10:27
收件人: "microsoft/WSL-DistroLauncher"<WSL-DistroLauncher@noreply.github.com>;
抄送: "guanzi008"<245205080@qq.com>;"Author"<author@noreply.github.com>;
主题: Re: [microsoft/WSL-DistroLauncher] 生产appx文件失败 (#59)

你有安装对应版本的Win10SDK吗？

—
You

[2019-08-07 16:49] #59 closed

[2019-08-07 19:16] guanzi008 commented on #59
。。。

---原始邮件---
发件人: "Ben Hillis"<notifications@github.com>
发送时间: 2019年8月8日(星期四) 凌晨0:49
收件人: "microsoft/WSL-DistroLauncher"<WSL-DistroLauncher@noreply.github.com>;
抄送: "guanzi008"<245205080@qq.com>;"Author"<author@noreply.github.com>;
主题: Re: [microsoft/WSL-DistroLauncher] 生产appx文件失败 (#59)

Closed #59.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it

[2019-08-07 22:51] benhillis commented on #59
I'm sorry for issues to be actionable I have to be able to read them... Could you please file your issue in English?

[2019-08-07 23:49] KsRyY commented on #59
This problem is caused by incorrect Windows 10 SDK Version

[2019-08-07 23:49] KsRyY commented on #59
Already solved

[2019-10-02 14:52] Hoverbear opened #62 "README.md confusion"
Hi!

Using fresh, never opened VS2019 Community Edition installed within the last week.

When you open the `MyDistro.appxmanifest` it is unclear where the "Projects" tab is.

![image](https://user-images.githubusercontent.com/130903/66054878-80260900-e4e9-11e9-8464-840c8dc86e64.png)

Could this portion of the `README.md` receive some clarity?

[2019-10-02 14:55] Biswa96 commented on #62
In the upper left corner, File -- Edit -- View -- Project.

[2019-10-02 15:04] Hoverbear commented on #62
@Biswa96 Sorry, I was unclear what my problem was, could you take a look at the updated description?

It's the "Packaging" tab not Project.

[2019-10-02 15:09] Biswa96 commented on #62
See this tutorial about [Package a UWP app with Visual Studio](https://docs.microsoft.com/en-us/windows/msix/package/packaging-uwp-apps) where the package tab is mentioned.

[2019-10-02 15:09] harperjohn opened #63 "Creating a Redhat Distro?"
I realize that this not necessarily an "issue", but the information seems impossible to find.

I was on the Microsoft site and it looks like someone suggested creating a WSL forum, but it was decided to keep the discussion at Github... so I figured that I would try asking here...

Thanks in advance for your help (and possibly patience) :)

[2019-10-02 15:11] Hoverbear commented on #62
I have already read this page (reading from https://docs.microsoft.com/en-us/windows/msix/package/packaging-uwp-apps#configure-an-app-package):

![image](https://user-images.githubusercontent.com/130903/66056533-1eb36980-e4ec-11e9-9fc2-523f0e437968.png)

Which takes you to here: https://docs.microsoft.com/en-us/windows/msix/package/create-certificate-package-signing#use-new-selfsignedcertificate-t

[2019-10-02 15:20] Hoverbear opened #64 "README.md Getting Started: VS2019 can't open DistroLauncher-Appx/DistroLauncher-Appx.vcxproj"
Hi!

In step 5 of https://github.com/microsoft/WSL-DistroLauncher#getting-started the instruction is:

In this case the user has been instructed to open the project in Visual Studio already (by opening the `.sln`), so the user is unable to find the `vcx.proj` in the solution explorer:

![image](https://user-images.githubusercontent.com/130903/66057199-23c4e880-e4ed-11e9-98ab-1621112005e3.png)

A u

[2019-10-02 15:37] Biswa96 commented on #62
I don't know what is suggested by Microsoft but for personal usecase I execute `MakeCert.exe` to generate certificate and `SignTool.exe` to sign appx file. Those are in Windows 10 SDK folder.

[2019-10-02 15:40] Hoverbear commented on #62
Ok, thanks. :)

This is still an open issue though since the README is unclear and/or incorrect.

[2019-10-02 15:52] Hoverbear opened #65 "README.md Building Project with Visual Studio instructions incorrect"
Hi!

In https://github.com/microsoft/WSL-DistroLauncher#building-project-visual-studio the step states:

Right clicking on "Solution 'DistroLauncher'" (Not "Solution (Distrolauncher)") here you can find "Deploy Solution":

![image](https://user-images.githubusercontent.com/130903/66059616-26c1d800-e4f1-11e9-8730-99dbdd9b2bad.png)

However clicking on this does not actually produce any results.

It

[2019-10-02 15:58] Hoverbear commented on #64
I also noted that the current defaults are different than the README suggests:

https://github.com/microsoft/WSL-DistroLauncher/blob/1f8551f7e2ea22bba2e6fb02f01e7a5f7fb757f3/DistroLauncher-Appx/DistroLauncher-Appx.vcxproj#L13-L14

![image](https://user-images.githubusercontent.com/130903/66060605-c9c72180-e4f2-11e9-84f4-bed2f113d509.png)

[2019-10-03 16:21] #63 closed

[2019-10-03 16:22] benhillis commented on #63
I would suggest downloading a tarball that contains the redhat user space binaries and importing the distribution via wsl.exe --import

[2019-10-03 16:23] benhillis commented on #62
@Hoverbear - if you'd like to submit a PR to make the documentation more clear with your findings that'd be helpful.

[2019-10-03 16:28] Hoverbear commented on #62
@benhillis I would love to, could you help me understand what the 'correct' workflow is?

[2019-10-06 18:50] bonafont commented on #62
Change your config from ARM64 to x64, it will solve your problem. Don't know why VS open it as a ARM64 solution...

[2019-10-07 15:44] Hoverbear commented on #62
@bonafont That sadly still does not show any packaging tab.

[2019-10-15 22:41] nandesu opened #67 "wslapi.h not found"
Greetings Team,

Seems I'm missing a library package somewhere, but not finding much online about where to get this header file.

Severity	Code	Description	Project	File	Line	Suppression State	Suppression State
Error	C1083	Cannot open include file: 'wslapi.h': No such file or directory	C:\Users\nandesu\source\repos\WSL-DistroLauncher\DistroLauncher\DistroLauncher.vcxproj	C:\Users\nandesu\source\rep

[2019-10-16 03:17] Biswa96 commented on #67
Update Windows SDK to latest version.

[2019-10-27 01:52] gusbemacbe commented on #62
It seems that Packaging is not available for Visual Studio Community. :-(

[2019-11-01 21:13] Hoverbear commented on #62
So it's not possible to follow the guide with VS Community?

[2019-11-23 20:10] ipsyllas commented on #65
Hello @Hoverbear

did you get anywhere with it?
I have not installed VS since the previous decade and i faced a bunch of issues.
Managed to get a clean build with the community edition and despite installing 20GB of msbuild tools and forcing  141/142, when i share the launcher gives the infamous msvc140d error.
Runs fine on my desktop so i cant really debug.

If you have some notes for the communi

[2019-11-23 20:40] Hoverbear commented on #65
I kind of put it down and haven't gotten back to it. :(

[2019-11-24 04:01] Biswa96 commented on #65
Because by default Visual Studio compiles a project dynamically with MS C runtime. You have use Release Mode or pack your application including msvcrt or vcruntime dlls.

[2019-11-24 08:51] ipsyllas commented on #65
@Biswa96
as i dont have experience with VS and this project sais use the default build.bat
why do i need to ship the launcher with all these dll's? None of the official distro launchers do.

Readme sais go modify 15-20 entries for you project in 3 files and away you go.

If you have a nice sanitised way within the readme/project please do share

[2019-12-17 20:22] greyltc opened #68 "How can I tell my distro what kernel to use?"

[2019-12-17 20:36] Biswa96 commented on #68
If you have Windows 10 insider Build 18945 or above then add the `kernel` entry in `%UserProfile%\.wslconfig` file. See this link for more information https://docs.microsoft.com/en-us/windows/wsl/release-notes#build-18945. Or if you have lower than Build 18945, then you can place the new Linux kernel here `%SystemRoot%\System32\lxss\tools\kernel`.

[2019-12-18 15:48] greyltc commented on #68
I'll give that a try. Thank you!

[2019-12-24 23:37] ZVNexus commented on #62
No, its not just an issue in Community, same thing happens in Pro. Have no idea where its located.

[2020-01-14 14:09] apajor opened #69 "Custom WSL Distro build error in VS - MSB6006"cmd.exe" exited with error code 1."
Hello Everyone,
I am totally new in building WSL custom distro, so sorry if I miss something trivial.
When I try to build the custom distro from VS2019 Enterprise by following instructions on GitHub, I am getting error during the build (attached screenshots).

What I did:
- downloaded Ubuntu 1804.2019.521.0 from Store for Business portal and installed / initialized it on a template machine
- insta

[2020-01-28 17:17] blakeyjason opened #70 "For a more up-to-date how-to, check the pengwin repo..."
https://github.com/WhitewaterFoundry/Pengwin/blob/master/BUILDING.md

Has instructions for VS 2019 build + how to fix that certificate issue (no packaging tab).

[2020-04-01 16:26] Trophime opened #73 "Trouble with getting started"
Hi,
this must be a pretty dumb question from a newbie but I cannot figure out to complete 1st step of Getting started. More precisely I cannot find the "Packaging tab"?

I'm using Visual studio 2019 community Edition (in French :( on top of that).
Do I need some specific extensions?

Thanks for your help.
I really wish to build my own distrib.
Best

[2020-04-01 19:57] ThatWeirdAndrew commented on #73
Did you open the DistroLauncher-Appx/MyDistro.appxmanifest file with Visual Studio? The packaging tab only shows up when you open it.

[2020-04-01 20:01] Trophime commented on #73
Could you show me where the packaging tab shall be

![VS](https://user-images.githubusercontent.com/1309311/78181187-37cdb080-7464-11ea-90f1-5fcb5d472aa5.png)

[2020-04-01 22:39] ThatWeirdAndrew commented on #73
You need to open the solution first. First, open the DistroLauncher.sln file with Visual Studio. Second, double click on DistroLauncher-Appx (Universal Windows). It should be on the right side of the screen. Third, double click on the MyDistro.appxmanifest file that appeared below DistroLauncher-Appx (Universal Windows).

![a](https://user-images.githubusercontent.com/14946103/78193174-e1527900-74

[2020-04-01 22:51] ThatWeirdAndrew commented on #73
Here is what you do.

![DmpuU59gvF](https://user-images.githubusercontent.com/14946103/78193943-c2ed7d00-7449-11ea-9dca-22bb58c97479.gif)

[2020-04-03 15:18] Trophime commented on #73
OK thanks it helps but I still cannot figure out the whole process.
I've tried to rebuild a debian Buster version from debian/WSL salsa repository.
I tried to change the name of the distrib to MyDebian10 and change the images in assets.
I can build the package and run it with the debugger but `lsb_release -cs` keeps on answering `stretch`...

What I don't ketch is step 2):

* what exactly needs to

[2020-04-03 16:44] ThatWeirdAndrew commented on #73
The DistributionInfo.h file contains information specific to your distribution.

To change the name of the distro, you would change `Debian` in the line `const std::wstring Name = L"Debian";` to whatever you wanted to name your distribution.

The line `const std::wstring WindowTitle = L"Debian";` dictates the title of the console while the distro is installing.

MyDistro.appxmanifest is an xml doc

[2020-04-03 17:17] Trophime commented on #73
I'm mixed up with step 4)
Changing the distro name in DistributionInfo.h to lets say mydebian, mean that debian.exe shall be replaced by mydebian.exe in MyDistro.appxmanifest. Is that it?

[2020-04-03 17:30] ThatWeirdAndrew commented on #73
I don't know if they both need to be the same, but to be safe, it's probably best that they are.

[2020-04-03 17:50] Trophime commented on #73
[MyDistro.appxmanifest.log](https://github.com/microsoft/WSL-DistroLauncher/files/4429013/MyDistro.appxmanifest.log)

Here what I get for the attached manifest:
* A error message from git
Opening repositories:
C:\Users\trophime\Documents\Salsa\debian\nWSL
Git failed with a fatal error.
git-lfs filter-process: git-lfs: command not found
fatal: the remote end hung up unexpectedly

* when Buillding:

[2020-04-03 17:57] ThatWeirdAndrew commented on #73
Did you rename anything that was once DistroLauncher-Appx? If something is named DistroLauncher-Appx, it needs to stay as that.

[2020-04-03 18:11] Trophime commented on #73
I did follow step5 which is not needed then?

[2020-04-03 18:28] ThatWeirdAndrew commented on #73
Please ignore that last message, it's actually launcher which should not be renamed and that doesn't seem to be the problem here. Could you make sure that the value of `TargetName` in DistroLauncher-Appx.vcxproj is the same as the value of `Executable` in MyDistro.appxmanifest

[2020-04-06 07:22] Trophime commented on #73
I manage to build the project with the names I pickup. Indeed ``TargetName` shall be changed to `mydistro`. My confusion stems from the fact that TargetName is never mentioned in the getting started guy. However running the deployed solution from the debugger in VS still tells me that I'm running stretch whereas install.tar.gz correspond to buster :((

Is this problem related to the git-lfs messag

[2020-04-06 07:34] rhaist commented on #73
Hi @Trophime - I am the maintainer for Debian WSL. The latest version can be found here:
https://salsa.debian.org/debian/WSL

I always do Git + LFS outside of Visual Studio. To build the latest tar.gz you can either use a Debian based WSL2 (Debian & Ubuntu should work) and you should install prerequisites:
[code]

qemu-user-static is only needed for the ARM build and qemu will only run in WSL2 not

[2020-04-06 16:43] Trophime commented on #73
Thanks for the tip. Unfortunately, right now I have a very low band connection. Downloading the VM would take more than 3 days according to my browser...
Is there another way to test in a "standard" Win10 VM (I've managed to build a standard win10 VM)?

[2020-04-06 17:26] ThatWeirdAndrew commented on #73
You can test it by enabling WSL in the VM. If the VM is running on Hyper-V, you can use WSL2 by running this command in an elevated powershell window: `Set-VMProcessor -VMName <VMName> -ExposeVirtualizationExtensions $true`. If it is not running on Hyper-V, you can just use WSL1.

[2020-04-09 09:17] Trophime commented on #73
I finally manage to get it to work ;))
I changed the name of the `install.tar.gz` to `mydistro-install.tar.gz`.
Once the solution is deployed to test and debug it, I still had to copy the `mydistro-install.tar.gz` into $ARCH/Debug.

@rhaist I still have a question for you about `MyLinuxDistroLauncher.cpp` into the salsa WSL.
this->_myName= L"Debian"; corresponds to  const std::wstring Name = L"MyD

[2020-04-10 14:33] ThatWeirdAndrew commented on #73
There is a guide for packaging your distro [here](https://docs.microsoft.com/en-us/windows/msix/package/packaging-uwp-apps#generate-an-app-package).

[2020-04-30 17:50] steeleprice commented on #73
The [Readme.md](https://github.com/microsoft/WSL-DistroLauncher/blob/master/README.md) does not reflect ANY of this and is exceedingly difficult to follow even for seasoned Microsoft Stack developers let alone Linux Devs.

The above referenced "guide" is an early preview and is outdated, nothing looks like those screenshots anymore.

It is expected that you understand how to setup a Visual Studio

[2020-05-16 13:09] rescenic commented on #73
Please, we need youtube tutorial, thanks.

[2020-05-26 03:57] lukka opened #75 "install.tar.gz location is wrongly documented"
repro:
clone the repro,
open the solution,
build the x64 configuration

**expected:**
build succeeds

**observed:**
build fails with:
2>\MSBuild\Current\Bin\Microsoft.Common.CurrentVersion.targets(4651,5): error MSB3030: Could not copy the file "D:\repos\WSL-DistroLauncher\x64\install.tar.gz" because it was not found.

Notes:
The file install.tar.gz is requested to be under the WSL-DistroLauncher\

[2020-05-26 04:01] lukka opened #76 "build succeeds but no appx is being created"
**repro**:
clone the repro,
open the solution,
put install.tar.gz under WSL-DistroLauncher\x64
build the x64 configuration

**expected**:
build succeeds and appx file is created

**observed**:
build succeeds, but no appx file is being created, i searched for it, there are only directory with suffix appx:

[code]

[2020-06-05 02:53] amarese commented on #44
I ran into the same issue.

Error: 0xc03a001a ?? ??? ??? ???? ?? ??? ??? ??? ? ????. ?? ?? ??? ??? ??? ?? ?? ???? ????? ??? ?? ???? ???? ???.

Wish this problem should be fixed soon.

[2020-09-18 03:07] yanshuf0 opened #79 "Unusable README"
Not sure who created this README but it's essentially nonsense and doesn't provide any accurate explanation for building this project or the project structure. It's pretty embarrassing you should probably move it out of the official Microsoft Repo.

[2020-09-18 03:10] yanshuf0 commented on #65
This project is a joke.

[2020-09-19 01:26] yanshuf0 commented on #79
Makes me remember why I hate Windows. Literally had to download > 20gb of Visual Studio nonsense to build this C++ project that won't even build.

[2020-09-19 01:37] #47 closed

[2020-09-19 01:39] #32 closed

[2020-10-13 10:34] jdm7dv opened #81 "Making a clear Linux Distro"
Anyone what to make a Clear Linux Distro?

[WhitewaterFoundry](https://github.com/WhitewaterFoundry/Pengwin)

[2020-10-14 12:45] alex-fu27 commented on #76
The Visual Studio solution is broken, use the build.bat

[2020-12-15 18:10] matt6697 opened #87 "Use the windows user CN as WSL2 distro username"
Would it be possible to add a launcher option to automatically retrieve and configure the Active Directory CN of the logged-in user as default WSL2 user ? This would help to ensure smooth WSL2 deployment in enterprise environment without prompting users at WSL2 initial launch.

https://docs.microsoft.com/fr-fr/windows/win32/api/winbase/nf-winbase-getusernamea?redirectedfrom=MSDN

[2021-03-20 22:23] kousu opened #90 "Unattended Install"
I want to be able to do an unattended install as if from the Microsoft Store. There is `install --root`, which you document prominently:

[code]

and this is what is used by

https://github.com/microsoft/windows-dev-box-setup-scripts/blob/a0d80679847fc668bdc1706ae29b45da7a65772b/scripts/WSL.ps1#L10

but that team knows they should be installing with a regular user, but declined to explain fully ho

[2021-03-21 01:36] kousu commented on #90
Ah, I read the docs: there's

[code]

which partially helps. If, say, given `--user someone` you ran `useradd -m someone` instead of using `adduser` then it won't prompt for a password, and I can use `wsl -u root passwd someone` to set the password later.

[2021-03-21 05:50] kousu commented on #90
..and now I just noticed `ubuntu1804 config --default-user username`. Which pretty much covers everything I want.

DistroLauncher could make this smoother maybe, but this works fine:

[code]

[2021-03-21 05:51] #90 closed

[2021-03-21 06:41] kousu commented on #90
Or, this is better:

[code]

[2021-05-07 06:35] greg-hellings commented on #75
You can add, as a pre-build event, `copy $(SolutionDir)\install.tar.gz $(SolutionDir)$(Platform)`, and the solution will do the needful during build.

[2021-06-03 08:45] apple-ouyang opened #91 "MakeAppx : error : 0x80080215"
I can deploy the solution, and my ditro runs well in my computer.
When I want to publish it, I have done those steps:
1.  I register a company account.
2. I have filled the info in MyDitro.appxmanifest, and change the "mydistro" to "openEuler".
3. I right click the "DistroLauncher-Appx" in the solution window, then "publiss", then "Create App packages ..."
4. I finish filling info, then click "cre

[2021-07-19 12:17] srbala opened #95 "Custom Distro CI/CD build using github workflow"
Team this is more of question/requesting recommendation, might turn into a feature.

I am a SIG/Cloud member of AlmaLinux, looking to setup and automate build for `AlmaLinux-WSL` package. Is it possible to make use of github workflow to create `WSL` application package `(appx)`. Steps or sample would greatly appreciated.

I understand `AlmaLinux` team has to contact WSL team `wslpartners@microsoft

[2021-09-25 22:45] KexyBiscuit commented on #95
You may look at [the workflow for AOSC OS](https://github.com/AOSC-Dev/AOSCOSLauncher/blob/main/.github/workflows/msbuild.yml), though the workflow artifacts are different from the one we publish to Microsoft Store. We always use Visual Studio on-premises to do that.

[2021-10-04 01:42] #95 closed

[2021-11-24 18:38] CarlosNihelton opened #96 "Launcher cannot retrieve full subsystem settings."
Greetings, all!

During development of the Ubuntu launcher we felt the need to retrieve more details from the subsystem configuration (besides the defaut configuration flags), details which are provided by the function `WslGetConfiguration()`, which is not exposed by WslApiLoader. Reference documentation about that function [can be found here](https://docs.microsoft.com/en-us/windows/win32/api/wsl

[2021-11-24 19:00] Biswa96 commented on #96
Just curious where it is used.

[2021-11-24 19:09] CarlosNihelton commented on #96
Hi! We have a custom routine for both distro installation and later reconfiguration. Currently, the preparation for that routine requires detection of subsystem version (1 or 2) and of graphical capabilities. But that might be require us to look into other aspects, like the default environment variables.

For now you can see the usage below:

https://github.com/ubuntu/WSL/blob/9cc33befc0f8af1b8372

[2021-11-24 19:18] Biswa96 commented on #96
I am kind of thinking that mistake (probably). I may be wrong. As far as I can remember, the distributionVersion parameter does not reflect whether the distribution is in WSL1 or WSL2 environment. It reflects lxfs vs. wslfs, old topic.

This is **undocumented** but works. The wslDistributionFlags provides WSL1 vs WSL2. For WSL2, wslDistributionFlags has 0x08 flag or-ed.

[2021-11-24 19:20] Biswa96 commented on #96
There should be an official way to detect whether wslg is enabled or not **without** executing any ELF binary or poking a file.

[2021-11-24 20:04] CarlosNihelton commented on #96
You are indeed right. Thanks for spotting my bug. Really appreciate it. Yet, just by the `WSL_DISTRIBUTION_FLAGS_DEFAULT` constant I wouldn't be able to detect WSL2.

[2021-11-24 20:07] CarlosNihelton commented on #96
While I totally agree with you, I didn't find any better way other than inspecting sockets.

[2021-11-24 20:16] Biswa96 commented on #96
Wondering what that will be.

[2021-11-24 20:21] CarlosNihelton commented on #96
You can have a look if you want 😅
https://github.com/ubuntu/WSL/blob/9cc33befc0f8af1b837212aa5190d111cbfef273/DistroLauncher/WSLInfo.cpp#L79-L97

[2021-11-24 20:29] Biswa96 commented on #96
O, I thought AF_VSOCK vs. AF_INET.

In my opinion, the /tmp/.X11-unix path is not only for wslg. A program may use AF_UNIX socket even in WSL1 or in WSL2 for X servers only (like vcxsrv). AF_UNIX was added in 17063 build of Windows 10 whereas WSL2 was added 18362 build.

[2021-11-24 20:50] CarlosNihelton commented on #96
That sounds as interesting as challenging. AFAIK, AF_VSOCK would help to be sure I'm under WSL 2, but would it tell anything about WSLg? While I can `ls -l /tmp/.X11-unix | grep wslg` , doesn't tell the whole story either, since it also appears mounted on WSL 1 instances. Besides the fact that it still feels a bit hacky to my taste.

Any great tip like the `0x08` for this one or should I just make

[2021-11-25 03:40] Biswa96 commented on #96
I'm not the right one to comment on that. But if this was not for Ubuntu or any stable software I have some dangerous tricks in my sleeve 🤐

[2021-11-26 11:54] A-23187 commented on #87
This repo is just a reference implementation of the WSL distro launcher. I think you can check if the distro you want to deploy supports some additional options for automatic deployment.

[2021-11-28 02:42] srbala opened #98 "Add `BuildTools` and Visual Studio 2022 support"
Visual Studio 2022 released few weeks ago. Building this project fully in command line using `Build-tools` also possible. it would be nice to these features going forward.

[2021-12-09 03:31] CompSciDude1 commented on #76
Is there any plans to fix the Visual Studio solution?

[2021-12-09 05:24] CompSciDude1 commented on #45
I ran the build.bat, but I did not get an .appx file.  I got an .msix file.  Is that intended?

[2021-12-23 20:42] RaminDadou opened #102 "Wsl distrol luncher"
Privacy security and private internet access account

[2022-01-06 18:10] CarlosNihelton opened #103 "'HCS_E_HYPERV_NOT_INSTALLED': undeclared identifier"
Hello, everyone! Happy new year!

Current state of the `master` branch fails to compile with msbuild command line.
PR #101 introduced the HRESULT `HCS_E_HYPERV_NOT_INSTALLED` which seems to be defined in Windows 10 SDK, version 1809 (10.0.17763.0), a few releases behind the latest, but the launcher project file targets version 10.0.16299, thus resulting in the undeclared identifier compilation err

[2022-01-06 18:13] Biswa96 commented on #103
Obviously, the latest one. Link https://developer.microsoft.com/en-US/windows/downloads/windows-sdk/.

[2022-01-06 18:17] CarlosNihelton commented on #103
Thank you.

[2022-01-06 18:21] Biswa96 commented on #103
Alternatively, it will be easier just to defined the constant in source code like this:

[code]

[2022-02-10 19:22] mousumih opened #105 "Building distro-launcher failing"
I am using git clone https://github.com/microsoft/WSL-DistroLauncher.git and then run build.bat from a Visual 2017 command prompt. I am seeing the following errors. I have VS2017 Professional installed in my platform. Please can you tell me what I am doing wrong?

Thank you
Mousumi

build.bat
Microsoft (R) Build Engine version 15.9.21+g9802d43bc3 for .NET Framework
Copyright (C) Microsoft Corporat

[2022-02-10 19:28] Biswa96 commented on #105
Either update to Visual Studio 2022 or change the build tools version in project settings.

[2022-02-10 21:14] mousumih commented on #105
I updated to Visual Studio 2022 and still see this issue error MSB8020: The build tools for Visual Studio 2017 (Platform Toolset = 'v141')  - even though I have installed the 2017 toolset.

In the project settings for DisplayLauncher-Appx I try to change the platform toolset, but whatever I change to says not found. Launcher builds fine.

Mousumi

build.bat
Microsoft (R) Build Engine version 17.0.

[2022-02-11 19:16] mousumih commented on #105
Worked after adding Universal Windows Platform Development Modules from Visual Studio Installer

[2022-02-11 19:16] #105 closed

[2022-03-12 04:12] Shadow-XT opened #107 "Error:0x80070002"
# This is my Error Message
Installing, this may take a few minutes...
WslRegisterDistribution failed with error: 0x80070002
Error: 0x80070002 ???????????

Press any key to continue...

# Detailed information
The Linux distribution I chose to use was OpenEuler
Openeuler has an old version in the Microsoft Store
And I've installed this old version before，but it was uninstalled later
Could it be beca

[2022-03-15 02:39] CompSciDude1 commented on #91
I get the same error when trying to build my custom Ubuntu 20.04 distro.

`4>MakeAppx : error : 0x80080215 - Non appx extensions are not allowed for payload packages targeting older platforms. `

[2022-03-15 02:44] CompSciDude1 opened #108 "Running build.bat builds both the x64 and ARM64 platforms"
# Summary

I believe there is an issue with the build.bat script.  It will build the solution for both the x64 and ARM64 platforms, even though the build.bat script specifies the platform as x64.

# Observed Behavior

The build.bat will build the solution for both the x64 and ARM64 platforms.

# Expected Behavior

The build.bat will build the solution for the specified platform only.

[2022-03-15 03:29] apple-ouyang commented on #91
I solved the problem, but I did't remember what have I done. Sorry it was long time ago for me. [Here](https://github.com/apple-ouyang/WSL-DistroLauncher) is the repo I am using now, I changed a lot of placeses to get it work. Hope it will help you.

[2022-03-15 05:01] CompSciDude1 commented on #108
After further investigation into the issue, the build.bat creates a bundle sideloader, with an install script that deduces the target platform and installs the correct sideload from the bundle.  This seems to be intended behavior.  I will close my issue.

[2022-03-15 05:01] #108 closed

[2022-03-15 05:05] CompSciDude1 commented on #107
I am not sure if this will solve your exact issue, but I think I ran into this error when I tried running the .exe file from the build folder.  My assumption is that it cannot find the sideloader and just errors out.  If I run the sideloader instead, it seems to install the distro.

[2022-03-15 05:17] CompSciDude1 commented on #91
I think i figured out the issue.  I searched the error message and came across a [forum post](https://techcommunity.microsoft.com/t5/msix/msix-modification-package-install-failed-quot-related-set-cannot/m-p/282184) describing a solution.  I said I needed to set the `<TargetDeviceFamily>` to something greater than 10.0.17xxx.  Retargeting the solution to use 10.0.19041 seemed to fix the error.  Tha

[2022-03-15 05:21] CompSciDude1 commented on #76
I don't know why, but building the solution with the build.bat file does not generate an .appx file, but rather .msix files and an .msixbundle.  Try searching for .msix instead.

[2022-04-29 02:09] CompSciDude1 opened #109 "Cannot acquire developer license wheninstalling sideload on another computer"
# Summary

I made a custom distro for work and I had a coworker run the Install.ps1 script.  He got an error that I did not get when testing the Install.ps1 script.

# Steps to Reproduce

* Create the bundle on one computer
* Transfer the bundle to another computer
* Open Install.ps1 script
* Accept UAC prompt
* (The developer Settings opens up, which is odd.)
* Error: Could not acquire a develope

[2022-04-29 22:10] mousumih opened #110 "The root certificate of the signature in the app package must be trusted"
I am able to create the .appx file, but when I run the Add-AppPackage getting the error: Deployment failed with HRESULT: 0x800B0109, A certificate chain processed, but terminated in a root certificate which is not trusted by the trust provider. I created the certificate as in README:

1. In VS, open DistroLauncher-Appr/Mydistro.appxmanifest
2. Select the Packaging Tab
3. Select Choose Certificate

[2022-08-30 09:39] microsoft-github-policy-service[bot] opened #112 "This repo is missing important files"
There are important files that Microsoft projects should all have that are not present in this repository. A pull request has been opened to add the missing file(s). When the pr is merged this issue will be closed automatically.

Microsoft teams can [learn more about this effort and share feedback](https://docs.opensource.microsoft.com/releasing/maintain/templates/) within the open source guidance

[2022-09-08 15:34] zadjii-msft commented on #112
@craigloewen-msft Hey uh, I don't think the console team owns this repo anymore...

[2022-09-26 19:59] zadjii-msft commented on #112
@craigloewen-msft and @benhillis - we don't really own this anymore...

[2022-11-28 19:11] #112 closed